<!--<div th:fragment="searchItem" class="input-group mb-3" style="width:200px;margin-top:auto;margin-bottom:auto">-->
<!--    <form method="get" action="/falsi/task/search">-->
<!--        <input type="text" class="form-control" name="searchText" placeholder="Search...">-->
<!--        <div class="input-group-append">-->
<!--            <button type="submit" class="btn btn-outline-secondary">-->
<!--                <i class="bi bi-search"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<div th:fragment="searchItem" class="search-container" style="display: flex;justify-content: center;margin-top:1%">
    <form method="get" action="/falsi/task/search">
        <div class="input-group mb-3">
            <input type="text"
                   placeholder="Search.."
                   name="searchText"
                   class="form-control"
                   th:value="${param.searchText != null ? param.searchText : ''}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>