<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Falsi Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript" th:src="@{/js/notification.js}"></script>

    <link th:href="@{/style/comment.css}" rel="stylesheet"/>
    <link th:href="@{/style/popover.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/popover.js}"></script>

    <style>
        .checkbox-xl .form-check-input {
            top: 1.2rem;
            scale: 2.5;
            margin-left: 1%;
        }

        .quote {
          margin: 0;
          background: #eee;
          padding: 1em;
          border-radius: 1em;
        }

        .quote blockquote {
          margin: 1em;
        }

        .popover{
            min-width:550px;
        }
    </style>

    <script>
        function init() {
            let status = document.getElementById("status").innerHTML;
            if (status == 'CONFIRMED') return;

            let deadlineDate = document.getElementById("deadlineDate");
            deadlineDate.min = getTomorrow();
            deadlineDate.value = deadlineDate.min;

            checkDeadline();
        }

        function getTomorrow() {
            let date = new Date();
            date.setDate(date.getDate() + 1);
            return date.toISOString().slice(0, 10);;
        }

        function checkDeadline() {
            let deadlineS = document.getElementById("deadlineDate").innerHTML;
            let today = new Date();
            let deadline = moment(deadlineS, "DD-MM-YYYY").toDate();

            let dif = (deadline - today);
            document.getElementById("deadlineDaysLeft").innerHTML = '(Left: ' + Math.ceil(dif / (1000 * 3600 * 24)) + ' days)';
            document.getElementById("deadlineDaysLeft").style.color = dif > 0 ? 'green' : 'red';
        }
    </script>

    <script>
        function action(actionName) {
            let form = document.getElementById("actionForm");
            document.getElementById("action").value = actionName;
            form.submit();
        }
    </script>

    <script>
        function quote(messageId, messageText) {
            document.getElementById("parentMessageQuote").value=messageId;
            document.getElementById("quoteMessage").innerHTML=messageText;
            document.getElementById("quote").style.display="block";
        }
    </script>

    <script>
        function clearQuote(){
            document.getElementById("parentMessageQuote").value=null;
            document.getElementById("quoteMessage").innerHTML=null;
            document.getElementById("quote").style.display="none";
        }
    </script>

</head>

<body onload="init();">

<div th:replace="fragments/topnav :: navbar"/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <!--Error Message Panel-->
        <div th:if="${error!=null}" style="text-align:center; margin-top:1%" class="alert alert-danger">
            <h4 class="error" th:text="${error}">Error message</h4>
        </div>

        <div class="card" style="margin-top:2%" th:if="${task!=null}">
            <div class="card-header" th:style="'background-color:' + ${task.status.color}">
                <div class="row">
                    <div class="col-md-6">
                        <h3><span th:text="${task.title}">Task title</span></h3>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <h3><span th:text="${task.targetDepartment}">Department</span></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <!--Task number -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="title" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Number</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="title" th:text="${task.number}" style="height:100%;width:100%">Number</h5>
                    </div>
                </div>

                <!--Task Priotity -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="priority" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Priority</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="priority" th:text="${task.priority.name}" style="height:100%;width:100%">Priority
                        </h5>
                    </div>
                </div>

                <!--Task Type -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="type" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Type</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="type" th:text="${task.taskType.name}" style="height:100%;width:100%">Type</h5>
                    </div>
                </div>

                <!--Task Event -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="event" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Event</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="event" th:text="${task.event.name}" style="height:100%;width:100%">Event</h5>
                    </div>
                </div>

                <!--Task Purpose -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="purpose" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Purpose</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="purpose" th:text="${task.purpose}" style="height:100%;width:100%">Purpose</h5>
                    </div>
                </div>

                <!--Task Creation date -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="creationDate" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Creation
                            date</label>
                    </div>
                    <div class="col-sm-10">
                        <h5 id="creationDate" th:text="${#temporals.format(task.creationDate, 'dd-MM-yyyy')}"
                            style="height:100%;width:100%">Creation
                            date</h5>
                    </div>
                </div>

                <!--Task Deadline date -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="deadlineDate" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Deadline
                            date</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row" style="width:100%;margin-left:0">
                            <h5 id="deadlineDate" th:text="${#temporals.format(task.deadlineDate, 'dd-MM-yyyy')}"
                                style="height:100%;margin-left:0"> Deadline date</h5>

                            <h5 id="deadlineDaysLeft" style="margin-left: 1%;text-align: left;">
                            </h5>
                        </div>
                    </div>
                </div>

                <!--Actions -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="status" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Status</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row" style="width:100%;margin-left:0">
                            <h5 id="status" th:text="${task.status}" style="height:100%;margin-left:0">Status
                            </h5>

                            <div class="row" style="margin-left:5%" th:each="action : ${actions}">
                                <button th:class="${action.buttonClass}" type="button" th:text="${action.name}"
                                        th:onclick="return action([[${action.name}]])">
                                    btn
                                </button>
                            </div>

                            <form th:action="@{'/falsi/task/' + ${task.number} + '/action'}" method="post"
                                  id="actionForm">
                                <input type="hidden" id="action" name="action">
                            </form>
                        </div>
                    </div>
                </div>


                <!--Owner -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="owner" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Owner</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row" style="width:100%;margin-left:0">
                            <h5 id="owner" th:text="${task.owner.getName()}" style="height:100%;margin-left:0">Owner
                            </h5>

                        </div>
                    </div>
                </div>

                <!--Executor -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="executor" class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Executor</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="row" style="width:100%;margin-left:0">
                            <h5 id="executor" th:text="${task.executor!=null ? task.executor.getName() : ''}"
                                style="height:100%;margin-left:0">Executor</h5>

                        </div>
                    </div>
                </div>

                <!--Owner Attachment -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Owner
                            Attachment</label>
                    </div>
                    <div class="col-sm-10">
                        <div style="width:100%;margin-left:0">

                            <th:block th:each="attachment : ${task.attachments}">
                                <div class="input-group mb-3" th:if="${attachment.source.name=='OWNER'}">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-paperclip" style="font-size: 18px"></i>
                                            </span>
                                    </div>
                                    <span class="form-control" th:text="${attachment.baseName}"
                                          style="font-size: 18px">Attachment file name</span>
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                                <span
                                                        th:text="${#temporals.format(attachment.uploadDate, 'dd-MM-yyyy HH:mm:ss')}"
                                                        style="font-size: 18px">Upload Date</span>
                                            </span>
                                    </div>
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                                <form th:action="@{'/falsi/attachment/download/' + ${attachment.id}}"
                                                      method="post">
                                                    <a href="javascript:;" onclick="parentNode.submit();">
                                                        <i class="bi bi-download"></i>
                                                    </a>
                                                </form>
                                            </span>
                                    </div>
                                </div>
                            </th:block>

                            <div class="input-group"
                                 th:if="${task.owner!=null && task.owner.department==user.department
                                 && task.status.name=='NEW' && task.status.name=='IN_PROGRESS'}"
                                 style="width:70%;">
                                <form method="post"
                                      th:action="@{'/falsi/task/' + ${task.number} + '/add-attachment'}"
                                      enctype="multipart/form-data" style="width:100%;">
                                    <input type="hidden" name="source" value="OWNER">
                                    <div class="input-group" style="width:100%;">
                                        <div class="custom-file">
                                            <input name="file" type="file" class="custom-file-input"
                                                   id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                                            <label class="custom-file-label" for="inputGroupFile04">Choose
                                                file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-warning" type="submit"
                                                    id="inputGroupFileAddon04">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Executor Attachment -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Executor
                            Attachment</label>
                    </div>
                    <div class="col-sm-10">
                        <div style="width:100%;margin-left:0">
                            <th:block th:each="attachment : ${task.attachments}">
                                <div class="input-group mb-3" th:if="${attachment.source.name=='EXECUTOR'}">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-paperclip" style="font-size: 18px"></i>
                                            </span>
                                    </div>
                                    <span class="form-control" th:text="${attachment.baseName}"
                                          style="font-size: 18px">Attachment file name</span>
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                                <span
                                                        th:text="${#temporals.format(attachment.uploadDate, 'dd-MM-yyyy HH:mm:ss')}"
                                                        style="font-size: 18px">Upload Date</span>
                                            </span>
                                    </div>
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                                <form th:action="@{'/falsi/attachment/download/' + ${attachment.id}}"
                                                      method="post">
                                                    <a href="javascript:;" onclick="parentNode.submit();">
                                                        <i class="bi bi-download"></i>
                                                    </a>
                                                </form>
                                            </span>
                                    </div>
                                </div>
                            </th:block>

                            <div class="input-group"
                                 th:if="${task.targetDepartment==user.department
                                 && task.status.name=='NEW' && task.status.name=='IN_PROGRESS'}"
                                 style="width:70%;">
                                <form method="post"
                                      th:action="@{'/falsi/task/' + ${task.number} + '/add-attachment'}"
                                      enctype="multipart/form-data" style="width:100%;">
                                    <input type="hidden" name="source" value="EXECUTOR">
                                    <div class="input-group" style="width:100%;">
                                        <div class="custom-file">
                                            <input name="file" type="file" class="custom-file-input"
                                                   id="inputGroupFile05" aria-describedby="inputGroupFileAddon05">
                                            <label class="custom-file-label" for="inputGroupFile05">Choose
                                                file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-warning" type="submit"
                                                    id="inputGroupFileAddon05">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Related Tasks -->
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-form-label"
                               style="text-align:center;font-size:14px;border-style: groove;width:100%">Related
                            Tasks</label>
                    </div>
                    <div class="col-sm-10">
                        <div style="width:100%;margin-left:0">
                            <th:block th:each="relatedTask : ${task.relatedTasks}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <a th:href="${'/falsi/task/' + relatedTask.number}"
                                                   th:text="${relatedTask.number}">
                                                    99
                                                </a>
                                            </span>
                                    </div>
                                    <span class="form-control">
                                            <a th:href="${'/falsi/task/' + relatedTask.number}"
                                               th:text="${relatedTask.title}">
                                                Title
                                            </a>
                                        </span>
                                    <div class="input-group-append">
                                            <span class="form-control"
                                                  th:text="${relatedTask.status}">
                                                Status
                                            </span>
                                    </div>
                                </div>
                            </th:block>

                            <div class="input-group" style="width:70%;" th:if="${task.status.name=='NEW' && task.status.name=='IN_PROGRESS'}">
                                <form method="post" th:action="@{'/falsi/task/' + ${task.number} + '/bind'}"
                                      style="width:100%;">
                                    <div class="input-group" style="width:100%;">
                                        <input type="number" min="1" placeholder="Task number" name="taskNumber">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary"
                                                    style="margin-left:1%">Bind
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-md-12" style="text-align:center;display:none" id="quote">
                    <div style="width:90%;;margin-left:auto;margin-right:auto;">
                        <div class="row">
                            <div class="col-md-6" style="text-align:left">
                                <p style="text-align:left">Quoted message</p>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <button type="button" class="btn btn-danger" onclick="clearQuote()">Clear</button>
                            </div>

                        </div>
                    </div>
                    <figure class="quote" style="width:90%;margin-left:auto;margin-right:auto">
                        <blockquote id="quoteMessage" style="text-align:left;white-space: pre-line;">
                        </blockquote>
                    </figure>
                </div>
            </div>

            <form th:action="@{'/falsi/task/' + ${task.number} + '/message'}" th:object="${message}" method="post"
                  th:if="${task.status.name=='NEW' || task.status.name=='IN_PROGRESS'}">
                <div class="form-group row">
                    <div class="col-md-12" style="text-align:center">
                        <input type="hidden" name="parent" id="parentMessageQuote">
                        <textarea required id="description" th:field="*{text}" rows="5" cols="2"
                                  style="width:90%;margin-left:auto;margin-right:auto"></textarea>
                        <button class="btn btn-primary" type="submit"
                                style="width:90%;margin-left:auto;margin-right:auto">
                            Send
                        </button>
                    </div>
                </div>
            </form>

            <div th:each="comment: ${task.messages} " class="col-md-12"
                 style="text-align:center;margin-bottom:2%;display:block">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                        <div class="d-flex flex-column justify-content-start ml-2" style="margin-top:1%">
                                <span th:style="${'text-align:left;font-size:20px;color:'+comment.color}"
                                      class="d-block font-weight-bold name"
                                      th:text="${'---   ' + comment.userName + '    [' + #temporals.format(comment.dateTime, 'dd-MM-yyyy HH:mm') +']'}">
                                </span>
                        </div>
                    </div>

                    <div class="form-group row" th:if="${comment.parent!=null}" style=";margin-top:1%">
                        <div class="col-md-12" style="text-align:center">
                            <figure class="quote" style="margin-left:auto;margin-right:auto">
                                <p style="text-align:left"
                                   th:text="${'---   ' + comment.parent.userName + '    [' + #temporals.format(comment.parent.dateTime, 'dd-MM-yyyy HH:mm') +']'}"></p>
                                <blockquote style="text-align:left;white-space: pre-line;"
                                            th:text="${comment.parent.message}">
                                </blockquote>
                            </figure>
                        </div>
                    </div>

                    <div style="text-align:left;margin-top:1%" class="mt-2">
                        <p th:style="${'text-align:left;font-size:20px;white-space: pre-line;color:'+comment.color + (comment.type.name=='SYS' ? ';font-weight: bold;' : '')}"
                           class="comment-text" th:text="${comment.message}"></p>
                    </div>
                    <div style="text-align:right;margin-top:1%" class="mt-2"
                         th:if="${(task.status.name=='NEW' || task.status.name=='IN_PROGRESS') && comment.type.name!='SYS'}">
                        <button class="btn btn-info" type="button"
                                th:onclick="return quote([[${comment.id}]], [[${comment.message}]])">Quote
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div id="notificationAlert"></div>
    </div>
</div>

<script>
        $('#inputGroupFile04').on('change', function () {
            var fullPath = $(this).val();
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                $(this).next('.custom-file-label').html(filename);
            }
        })

        $('#inputGroupFile05').on('change', function () {
            var fullPath = $(this).val();
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                $(this).next('.custom-file-label').html(filename);
            }
        })
</script>

<div id="output" style="display:none;" th:insert="~{fragments/notifications :: notifications}"/>

</body>
</html>